body {
  font-family:'Montserrat';
  background-color: #fff;
  overflow: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

/* Navigation styles */
.glesson {
  width: 150px; 
  height: auto; 
  top: 15px;
  left: 0.45px;
}


nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  display: inline-block;
  position: relative;
 
}


.dropdown ul li a {
  display: block;
}


ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  top: calc(100% + 2px);
  padding: 10px;
  left: 0;
}


ul li:hover ul.dropdown {
  display: block;
}


ul li ul.dropdown li {
  display: block;
}


.dropdown-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 53, 61, 1);
}


.dropdown{
  background-color: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.dropdown ul li a {
  text-align: left;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav a img {
  vertical-align: middle;
  margin-right: 8px;
}


nav a:hover,
.dropdown-btn:hover {
  background-color: #ddd;
  color: black;
}


.login-btn {
  border-radius: 60px;
  background-color: white;
  color: #548bab;
  border: 1px solid #548bab;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 47px;
}


.register-btn {
  border-radius: 60px;
  background-color: #548bab;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  width: 160px;
  height: 47px;
}

/* footer */

.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 10%;
  display: flex;
  align-items: flex-start;
 
  justify-content: space-between;
}


.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px;
}


.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30%;
  align-items: flex-start;
  margin-top: 20px;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}


.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}


.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 1px solid #E5E7EB;
  margin-top: 3%;
}


.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 9%;
}


.social-icons img {
  width: 30px;
  height: 30px;
  margin:  5px;
  cursor: pointer;
}


.centered-text a {
  color: black;
  text-decoration: none;
  margin-left: 50px;
}


.centered-text a:hover {
  color: gray;
}


.bott {
  display: flex;
  justify-content: center;
}


.bott img {
  margin-top: 20px;
}

/* about us */
.about {
  width: 100%;
  height: 364px;
  margin: 0;
  padding: 0; 
}

.about img {
  max-width: 100%;
  display: flex;
  height: auto;
}

/* recruitment */

.class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin: 0;
}

.klase {
  width: 40%;
  height: 596%;
  padding: 0;
  order: 2; 
}

.content-container {
  max-width: 1328px;
  height: 596px;
  order: 1; 
}

.content-container h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 100px;
  margin-left: 100px;
}

.content-container p {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 5%;
  margin-left: 100px;
  margin-right: 60px;
}

/* proud */

.proud{
  text-align: center;
}


.square {
  width: 100%;
  height: 30vh;
  margin-top: -4%;
  overflow-x: hidden;
  background-color: #add8e6;
}


.sponsor-container {
  margin-top: 10px;
  display: flex;
  animation: scrollSponsors 30s linear infinite;
  /* overflow: hidden; */
  white-space: nowrap;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}


.sponsor-container::-webkit-scrollbar {
  width: 0;
  overflow: hidden;
}
@keyframes scrollSponsors {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sponsor {
  width: auto;
  margin-top: 20px;
  margin-right: 20px;
  height: 50px;
  margin-right: 100px;
}


.sponsor:hover {
  opacity: 0.8;
}

/* were going places */

.pic {
  display: flex;
}

.peps {
  width: 700px;
  height: 350px;
  max-width: 100%;
  max-height: 10%; 
  margin-top: 10%;
}

.content-container {
  width: calc(70% - 101px); 
  padding: 101px 0 74px 0; 
  margin-left: auto;
  margin-top: -5%;
}
.highlight-container {
  text-align: right;
  margin-left: 5%;
  margin-right: 48%;
}
.highlight {
  text-align: right;
}

.img1,
.img2,
.img3 {
  max-width: 10%;
  margin-left: 10px; /* Adjust the margin between images as needed */
}
.img-container{
  margin-left: 11%;
}

/* our division */

.divisions{
margin-top: 0;
}
.container {
  max-width: 100%;
  margin: 50px auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.icon-buttons {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 20px;
}


.icon-button {
  color: black;
  padding: 0;
  background-color: transparent;
  margin: 2px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}


.our-divisions {
  background-color: transparent;
  border-radius: 20px;
  text-align: left;
  margin-left: 40px;
  padding: 40px;
  max-width: 400px;
}


.our-divisions h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  line-height: 48px;
}


.our-divisions p {
  font-size: 18px;
  color: #8F8F8F;
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 26px;
}


.seeAll {
  Width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: #548BAB;
  color: white;
  border-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}


.textBot {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.job {
  width: 100%;
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  position: inherit;
  margin-top: 20px;
}


.job-item:hover .logo {
  opacity: 0.8;
}


#jobContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px;
}


.job-item {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  border-radius: 16px;
}


.logo {
  max-width: 100%;
  margin: 0;  
  width: 227px;
  height: 208px;
  border-radius: 16px;
}


.description:hover {
  background-color: lightblue;
}


.description {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  /* color: black; */
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  /* text-overflow: ellipsis; */
  white-space: normal;
}


.heading {
  margin: 0;
  font-weight: 700;
  /* font-family: 'Montserrat'; */
  font-size: 24px;
  line-height: 36px;
  
}


.descriptionBody {
  max-height: 100%;
  padding: 2px;
  font-weight: 400px;
  font-size: 16px;
  color: #8F8F8F;
  line-height: 24px;
  
}

/* talent talks */

.talent {
  width: 543px;
  height: 70px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  
}

.bato-container {
  display: flex;
  margin-left: 10px;
}

.bato {
  margin-top: 50px;
  margin-left: 50px;
  width: 383.23px;
  height: 237px;
  border-radius: 7.35px;
  
}

.insights {
  height: 23.35px;
  padding: 3.68px 12.87px;
  border-radius: 19.3px;
  gap: 9.19px;
  background-color: #548BAB;
  border: none; 
  color: white; 
  font-size: 14px; 
  cursor: pointer; 
  margin-left: 50px;
  margin-top: 5px;
  
}

.buttonContainers {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button-primary {
  background-color: #548BAB;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
}

button.button-primary:hover {
  background-color: white;
  color: #548BAB;
  border: 1px solid #548BAB;
}

.what {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 47px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
 
}
.posted10{
  color:#548BAB;
  margin-left: 10%;
}

.whatThe {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  color: #548BAB;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  
}

.Q {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  margin-left: 50px; 
}

.read {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 8px 16px; 
  color: #548BAB; 
  background-color: transparent;
  border: none; 
  margin-left: 35px;
  border-radius: 4px;
  cursor: pointer; 
}



/* smile */

.square3 {
  width: 100%;
  height: 464px;
  background-color: #C9DFEE;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: 100px;
}


.shesh{
  margin-left: 70px;
}
.orangeSmile {
  margin-top: 70px;
}


.Looking{
  width: 586px;
  height: 48px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}


.browse{
  width: 212.77px;
  height: 55.37px;
  border: none;
  top: 153px;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #FFFFFF;
  background-color: #548BAB;
  margin: 10px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
}


.vacancy{
  width: 212.77px;
  height: 55.37px;
  top: 153px;
  border: none;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #548BAB;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
}




