body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  overflow: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

/* Navigation styles */
.glesson {
  width: 150px; 
  height: auto; 
  top: 15px;
  left: 0.45px;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  vertical-align: middle;
  margin-right: 8px;
}

.button-container {
  display: flex;
  align-items: center;
}

.login-btn,
.register-btn {
  width: 160px;
  height: 47px;
  left: 464px;
  border-radius: 50px;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-btn {
  position: relative;
  padding-right: 20px;
}

.posted10{
  margin-left: 11%;
  font-family: Inter sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #548BAB;
  text-align: left;
}

.dropdown-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(45deg);
  border: solid #333;
  border-width: 2px 2px 0 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.dropdown-btn:hover::after {
  transform: translateY(-50%) rotate(135deg);
}


.login-btn {
  background-color: white;
  color:   #548BAB;
  border: 1px solid   #548BAB;
}

.login-btn:hover {
  background-color:   #548BAB;
  color: white;
  border: none;
}

.register-btn {
  background-color:#548BAB;
  color: white;
  border: none;
  margin-right: 10px;
}

.register-btn:hover {
  background-color: white;
  color:  #548BAB;
  border: 1px solid #548BAB;
}

.hamburger-menu {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-left: auto; 
}

.line {
  width: 100%;
  height: 3px;
  background-color: #548BAB;
  border-radius: 5px;
}

.back-to-article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 15%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.back {
  color: #AEAEAA;
  text-decoration: none;
}

.arrow-left {
  margin-right: 5px;
}

.blogH{
  width: 807px;
  height: 130px;
  font-family: Montserrat sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
}

.blogP{
  width: 807px;
  height: 68px; 
  font-family: Inter sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #595959;
}

.pic1{
  margin-top: 50px;
}

.pic2{
  margin-top: 50px;
}

/* talent talks */

.talent {
  width: 543px;
  height: 70px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.bato-container {
  display: flex;
  margin-left: 10px;
}

.bato {
  margin-top: 50px;
  margin-left: 50px;
  width: 383.23px;
  height: 237px;
  border-radius: 7.35px;
}

.insights {
  height: 23.35px;
  padding: 3.68px 12.87px;
  border-radius: 19.3px;
  gap: 9.19px;
  background-color: #548BAB;
  border: none; 
  color: white; 
  font-size: 14px; 
  cursor: pointer; 
  margin-left: 50px;
  margin-top: 5px;
}

.buttonContainers {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button-primary {
  background-color: #548BAB;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
  opacity: calc(0.5);
}

button.button-primary:hover {
  background-color: blue;
}

.what {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 47px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.whatThe {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  color: #548BAB;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.Q {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  margin-left: 50px;
}

.read {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 8px 16px; 
  color: #548BAB; 
  background-color: transparent;
  border: none; 
  margin-left: 35px;
  border-radius: 4px;
  cursor: pointer; 
}

/* OrangeSMile */
.square3 {
  width: 100%;
  height: 464px;
  background-color: #C9DFEE;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: 200px;
}

.shesh{
  margin-left: 70px;
}
.orangeSmile {
  margin-top: 200px;
}

.Looking{
  width: 586px;
  height: 48px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center; 
  margin: 0 auto; 
}

.browse{
  width: 212.77px;
  height: 55.37px;
  border: none;
  top: 153px;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #FFFFFF;
  background-color: #548BAB;
}

.vacancy{
  width: 212.77px;
  height: 55.37px;
  top: 153px;
  border: none;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #548BAB;
  background-color: #FFFFFF;
}
/* footer */

.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px; 
}

.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 3px solid #F5F5F5;
}


.social-icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
  margin-top: 10px;
  justify-content: flex-end; 
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.centered-text{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 4%;
}

.centered-text a {
  color: black; 
  text-decoration: none; 
  margin: 1%;
}

.centered-text a:hover {
  color: gray; 
}

.bott {
  display: flex;
  justify-content: space-between;
}

.bott1 {
  margin-right: auto;
  width: auto;
  height: 50px;
  margin-left: 50px;
}

.bott2 {
  margin-left: auto;
  margin-right: 50px ;
}

.mid {
  margin: 0 auto;
}

.bott img {
  margin-top: 20px;
}