/* Default styles */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  overflow: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

/* Navigation styles */
.glesson {
  width: 150px; 
  height: auto; 
  top: 15px;
  left: 0.45px;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  position: relative;
 
}

.dropdown ul li a {
  display: block;
}

ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  top: calc(100% + 2px);
  padding: 10px;
  left: 0;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li {
  display: block;
}

.dropdown-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 53, 61, 1);
}

.dropdown{
  background-color: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.dropdown ul li a {
  text-align: left;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  vertical-align: middle;
  margin-right: 8px;
}

nav a:hover,
.dropdown-btn:hover {
  color: black;
}

.login-btn {
  border-radius: 60px;
  background-color: white;
  color: #548bab;
  border: 1px solid #548bab;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 47px;
}

.register-btn {
  border-radius: 60px;
  background-color: #548bab;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  width: 160px;
  height: 47px;
}

.hamburger-menu {
  display: none; 
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-left: auto; 
}

.line {
  width: 100%;
  height: 3px;
  background-color: #548BAB;
  border-radius: 5px;
}

/* Main content styles */
.textMid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Montserrat sans-serif;
  font-weight: 800; 
  width: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 40px;
  line-height: 1.6;
  color: #0078d4;
  border-bottom: 3px solid transparent;
}

.happier {
  position: relative;
}

.happier img {
  width: 250px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}


.underOrange{
  display: none;
}

.leftA {
  margin-right: auto;
}

.rightA {
  margin-left: auto;
}

  .search-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin-right: 0;
    margin-bottom: 50px;
    top: calc(50% + 150px);
    right: 0px; 
    position: absolute; 
  }

.search-bar {
  display: flex;
}

.container100 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
}

.role-selection-btn {
  font-family: Montserrat  sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 16px;
  color: #333;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 100px 0 0 100px; 
  background-color: #f0f0f0;
  Width: 220px;
  Height: 68px;
}

.role-selection-btn .subtext {
  font-family: Avenir Next sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #1C0500;
  width: 90px;
  height: 17px;
  display: block;
  margin-top: 3px;
}

.where {
  font-family: Montserrat sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 16px;
  color: #333;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  width: 259px;
  height: 68px;
}

.where .subtext {
  font-size: 12px;
  color: #1C0500;
  margin-top: 3px;
}

.where .arrow-down {
  margin-left: 5px;
}

.search-btn {
  width: 212.77px;
  height: 68px;
  padding: 16px 24px;
  border-radius: 0px 100px 100px 0px;
  border: 1px solid;
  justify-content: space-between;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}


/* Sponsors styles */
.proud{
  text-align: center;
}

.square {
  width: 100%;
  height: 30vh;
  margin-top: 40px;
  overflow-x: hidden;
  background-color: #add8e6;
}

.sponsor {
  width: 200px; 
  height: 100px;
  margin-right: 20px;
}

.sponsor-container {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  animation: scrollSponsors 30s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.sponsor-container::-webkit-scrollbar {
  width: 0;
  overflow: hidden;
}

@keyframes scrollSponsors {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.sponsor:hover {
  opacity: 0.8;
}

/* Divisions styles */
.container {
  max-width: 100%;
  margin: 50px auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.our-divisions {
  background-color: transparent; 
  border-radius: 20px;
  text-align: left;
  margin-left: 40px;
  padding: 40px; 
  max-width: 400px; 
}

.heading{
  font-family: Montserrat sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  width: auto;
  height: 56px;
}

.OurDivisions {
  font-size: 24px; 
  color: #333;
  margin-bottom: 10px;
}

.our-divisions p {
  font-size: 18px; 
  color: #555;
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.seeAll {
  Width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: #548BAB;
  color: white;
  border-color: transparent;
}

.job {
  width: 100%;
  height: 300px;
  overflow: hidden; 
  white-space: nowrap; 
  display: flex;
  position: inherit;
  margin-top: 20px;
}

.job-item:hover .logo {
  opacity: 0.8;
}

#jobContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px; 
}

.job-item {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  border-radius: 16px;
}

.logo {
  max-width: 100%;
  margin: 0;
  border-radius: 16px;
  width: 227px;
  height: 208px;
}


.description:hover {
  background-color: lightblue; 
}

.description {
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: auto;
  height: auto;
  white-space: wrap;
}

.heading {
  margin: 0;
}

.descriptionBody {
  padding: 10px;
  font-size: 11px;
  text-align: left;
  font-weight: 400px;
  size: 16px;
  color: #8F8F8F;
  line-height: 1.5;
}

.learnMore{
  display: none;
}

.pagination{
  display: none;
}
/* Icon buttons styles */
.icon-buttons {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
}

.icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* Container1 and image-container styles */
.container1 {
  display: flex;
  margin-top: -100px;
  align-items: center; 
}

.image-container {
  position: relative; 
  margin-right: 20px;
}

/* Image styles */
.image {
  width: 500px;
  height: 500px;
  margin-top: -100px;
}

.purplePic{
  margin-left: -120px;
}

/* Text-container styles */
.text-container {
  flex: 1; 
  width: 50px; 
  padding: 20px; 
}


.meetingHeading {
  font-family: Montserrat sans-serif;
  font-weight: 700; 
  line-height: 48px;
  font-size: 36px; 
}

.meetingBody {
  font-family: Inter, sans-serif;
  color: #676767;
}

.award {
  width: 300px;
  height: 75.26px;
}

/* Buttons styles */
.container {
  text-align: center;
}

.award {
  display: block;
  margin-left: 0px;
}

.buttons {
  margin-top: 20px; 
}

.buttonss {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  width: 251px;
  border-radius: 50px;
  height: 60px;
  background-color: #548BAB;
  color: #fff; 
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.buttonss:hover {
  background-color: #0056b3; 
}

.buttonsss {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #548BAB;
  width: 251px;
  border-radius: 50px;
  height: 60px;
  background-color: #fff;
  color: #0056b3; 
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.buttonsss:hover {
  background-color: #0056b3; 
  color: #fff;
}

/* Awards styles */
.awardsR {
  font-family: Open Sans sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Square2 */
.peoplesay{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.square2 {
  width: 100%;
  height: 590px;
  background-color: rgba(0, 0, 255, 0.3); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
  z-index: 0; 
}

.peopleP {
  position: absolute;
  font-family: Montserrat sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #F9F9F9;
  line-height: 37.5px;
  z-index: 1;
  width: 735px; 
  height: 304px; 
  left: 130px;
  border-right: 2px solid #fff;
}

.peopleH {
  font-family: Montserrat sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px;
  top: 50%;
  transform: translateY(-50%);
}

.klase {
  font-family: Montserrat sans-serif;
  font-size: 23px; 
  font-weight: 500; 
  line-height: 28px; 
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px; 
  top: calc(50% + 115px); 
  transform: translateY(-50%);
}

.peopleH, .klase {
  display: inline-block;
}

/* Invisible Container */
.containerNapud {
  display: flex;
  margin-left: 50px; 
  white-space: nowrap;
  overflow: hidden;
}

.custom-icon-buttons {
  display: flex;
}

.custom-icon-button {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  padding: 5px;
}


.invisible-container{
  margin-top: 50px;
}

.custom-icon-buttons {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end; 
  margin-left: auto;
  margin-right: 300px;
  margin-top: 20px;
}

.custom-icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.jobsLatest{
  margin-left: 50px;
}


.styledElement {
  width: 300px;
  padding: 20px 30px;
  border-radius: 8px;
  gap: 4px;
  border: 1px solid #E5E5E5;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.passion10{
  display: none;
}
.posted10{
  margin-left: 11%;
  font-family: Inter;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #548BAB;
  text-align: left;
}

.posted{
  font-family: Inter sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #8C8C8C;
  text-align: left;
}

.postedTitle{
  font-family: Montserrat sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.posted1 {
  font-family: Montserrat sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  color: #548BAB;
  margin-top: 10px;
}

ul {
  text-align: left !important; 
}

.bullet {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  display: grid;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: #000000;
}

/* talent talks */
.talent {
  width: 543px;
  height: 70px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7 ;
}

.bato-container {
  display: flex;
  margin-left: 10px;
}

.bato {
  margin-top: 50px;
  margin-left: 50px;
  width: 383.23px;
  height: 237px;
  border-radius: 7.35px;
  opacity: 0.5;
}

.insights {
  height: 23.35px;
  padding: 3.68px 12.87px;
  border-radius: 19.3px;
  gap: 9.19px;
  background-color: #548BAB;
  border: none; 
  color: white; 
  font-size: 14px; 
  cursor: pointer; 
  margin-left: 50px;
  margin-top: 5px;
  opacity: 0.5;
}

.buttonContainers {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button-primary {
  background-color: #548BAB;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
  opacity: calc(0.5);
}

button.button-primary:hover {
  background-color: blue;
}

.what {
  font-family: Montserrat sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 47px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.whatThe {
  font-family: Montserrat sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  color: #548BAB;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.Q {
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  margin-left: 50px;
  opacity: 0.5;
}

.read {
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 8px 16px; 
  color: #548BAB; 
  background-color: transparent;
  border: none; 
  margin-left: 35px;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer; 
}

/* Featured */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.featured {
  width: 278px;
  height: 62px;
}

.sulatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sulat {
  width: 706px;
  height: 48px;
  font-family: Inter sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.sponsor2 {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 1128.11px; 
  height: 61px; 
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; 
}

.sponsor2 img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.named {
  border-bottom: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* OrangeSMile */
.square3 {
  width: 100%;
  height: 464px;
  background-color: #C9DFEE;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: 200px;
}

.shesh{
  margin-left: 70px;
}
.orangeSmile {
  margin-top: 200px;
}

.Looking{
  width: 586px;
  height: 48px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.browse{
  width: 212.77px;
  height: 55.37px;
  border: none;
  top: 153px;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #FFFFFF;
  background-color: #548BAB;
}

.vacancy{
  width: 212.77px;
  height: 55.37px;
  top: 153px;
  border: none;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #548BAB;
  background-color: #FFFFFF;
}

/* Footer styles */
.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px; 
}

.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: Montserrat sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 3px solid #F5F5F5;
}


.social-icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
  margin-top: 10px;
  justify-content: flex-end; 
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.centered-text{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 4%;
}

.centered-text a {
  color: black; 
  text-decoration: none; 
  margin: 1%;
}

.centered-text a:hover {
  color: gray; 
}

.bott {
  display: flex;
  justify-content: space-between;
}

.bott1 {
  margin-right: auto;
  width: auto;
  height: 50px;
  margin-left: 50px;
}

.bott2 {
  margin-left: auto;
  margin-right: 50px ;
}

.mid {
  margin: 0 auto;
}

.bott img {
  margin-top: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
    min-height: 100vh;
    text-align: left;
    /* max-width: 375px;  */
    margin: 0 auto; 
    box-sizing: border-box; 
  }

  html{
    overflow-x: hidden;
  }
  .glesson {
    width: 125.55px;
    height: 46.67px;
  }

  nav{
    margin-bottom: 10%;
  }
  nav a,
  .dropdown-btn {
    display: none; 
  }

  .register-btn {
    margin-right: 0; 
  }

  .login-btn {
    display: none; 
  }

  .register-btn {
    width: 92px;
    height: 27.6px;
    border-radius: 23px;
    background-color: #548BAB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto; 
  }

  .button-container {
    display: flex;
    align-items: center;
  }
  
  .hamburger-menu {
    width: 80px;
    display: flex;
    align-items: center;
    margin-left: auto; 
  }
  
  .line {
    width: 30%;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    background-color: #548BAB;  
  }
  

  .textMid{
    display: none;
  }

  .search-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  
    
  .search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .role-selection-btn,
  .where,
  .search-btn {
    width: 343px;
    height: 68px;
    padding: 8px 24px;
    border-radius: 100px;
    margin-top: 20px; /* Change the margin as needed */
  }
  
  .where {
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  .subtext {
    font-size: 14px;
  }
  
  .arrow-down {
    margin-left: 5px;
  }
  
  .image {
    margin-top: auto;
    width: 370px;
    height: 375px;
    position: absolute;
    left: 0;
  }

  .underOrange{
    display: flex;
    width: 342px;
    height: 144px;
    margin-top: 80%;
    margin-left: 15px;
  }

  .square {
    height: 30vh; 
    margin-top: 110%;
  }

  .sponsor {
    height: 80px; 
    margin-right: 50px; 
  }

  .our-divisions {
    margin-left: 20px;
    padding: 20px;
    max-width: 100%;
  }

  .seeAll {
    width: 150px;
    height: 50px;
    font-size: 14px;
  }

  .icon-buttons {
    display: none;
  }

  .our-divisions h1 {
    width: 318px;
    height: 48px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
  }

  .our-divisions p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  .seeAll {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .learnMore {
    width: 100%;
    height: 55px;
    border-radius: 36px;
    background-color: #548BAB;
    color: white;
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
  }

  .job {
    width: auto;
    height: 416px;
    top: 352px;
    left: 74px;
    overflow-x: hidden;
    white-space: nowrap;
    flex-direction: column;
  }

  .job::-webkit-scrollbar {
    display: none;
  }

  #jobContainer {
    width: auto;
    height: 416px;
    top: 352px;
    left: 74px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .job-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 227px;
    margin: 16px;
  }

  .logo {
    width: 227px;
    height: 208px;
    border-radius: 16px;
  }

  .heading {
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 5px;
  }

  .description {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  .descriptionBody {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #8F8F8F;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }

  .circle.active {
    background-color: #333;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .meetingHeading {
    width: 342px;
    height: 72px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .awardsR {
    text-align: left;
    margin-left: 10px;
  }

  .award {
    margin-left: 10px;
  }

  .buttonss {
    margin-bottom: 20px;
  }

  .purplePic {
    width: 451.54px;
    height: 340px;
  }

  .text-container {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .peoplesay {
    width: 343px;
    height: 120px;
    top: 3019px;
    left: 16px;
    text-align: center;
    font-family: Montserrat sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .square2 {
    position: relative;
    width: 100%;
  }

  .container100 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10%;
    width: 100%;
}
.peopleP {
  display: flex;
  position: absolute; /* Change to absolute */
  font-family: Montserrat sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #F9F9F9;
  line-height: 1.5;
  z-index: 1;
  width: 90%;
  max-width: 343px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 0;
  left: 10px; /* Adjust the value as needed */
}


  

  .peopleH{
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    color: #C9DFEE;
    width: 90%;
    max-width: 343px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 343px;
    height: 28px;
  }

  .klase {
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    color: #fff;
    width: 90%;
    max-width: 343px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 308px;
    height: 32px;

  }

  .peopleH {
    top: 80%;
    transform: translate(-50%, -50%);
  }

  .klase {
    top: 85%;
    transform: translate(-50%, 50%);
  }

  .custom-icon-buttons{
    display: none;
  }

  .containerNapud{
    display: flex;
    flex-direction: row; 
    align-items: left;
    justify-content: left;
    margin-top: 20px;
  }
  
  .scroll-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    margin-left: -50px;
    overflow: auto;
    padding-left: 20px; 
  }

  .scroll-container::-webkit-scrollbar {
    width: 0.5em;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .styledElement {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    width: 100%;
    overflow: auto;
    padding-left: 20px; 
  }

  .jobsLatest {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }

  .leftA, .rightA {
    display: none;
  } 


  
  .bato{
    width: 291px;
    height: 216.64px;
    border-radius: 6.47px;
    }
    
    .posted10{
      margin-left: 15%;
    }
    .what{
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }

    .talent {
      width: 400px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 0;
    }

    .butonis.button-primary{
      width: 90%;
    }

    .bato-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin-top: 20px;
      width: 100%;
      margin-left: -50px;
      overflow: scroll;
      padding-left: 20px;
    }

    .bato-container::-webkit-scrollbar {
      width: 0;
    }
        
    .sulatContainer {
      width: 343px;
      height: 96px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: center;
      justify-content: center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }

    .sponsor2 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 100px;
    }

    .sponsor2::-webkit-scrollbar {
      width: 0;
    }

    .sudlanan {
      display: flex;
      width: auto;
      overflow: scroll;
      overflow-y: hidden;
    }

    .sudlanan::-webkit-scrollbar {
      width: 0;
    }
    
    .named{
      height: 300px;
    }

/* Common styles for mobile */
.square3 {
  max-width: 100%;
  height: auto;
  background-color: #C9DFEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  /* padding: 20px; */
}

.orange {
  display: none;
  width: 337.9px;
  display: flex;
  margin-left: -85px;
  margin-top: -165px; 
}


.passion10{
  display: flex;
  width: 343px;
  height: 103.37px;
}

.passion{
  display: none;
  }
.shesh {
  margin-left: 0;
}

.orangeSmile {
  margin-top: 20px;
}

.Looking {
  width: 100%;
  max-width: 300px;
  height: auto;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 20px;
  text-align: left;
}

.browse, .vacancy {
  width: 100%;
  max-width: 300px;
  height: 55px;
  border: none;
  border-radius: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}

.browse {
  background-color: #548BAB;
}

.vacancy {
  color: #548BAB;
  background-color: #FFFFFF;
}

  .footerLogo{
    width: 219.23px;
    height: 81.49px;
    margin-top: -70px;
    margin-left: 0;
  }

  .glee{
    margin-left: 0;
    width: 176px;
    height: 48px;
    top: 275px;
    left: 112px;
    color:#548BAB;
    font-family: Montserrat sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: baseline;
  }

    .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .footer-column {
      width: 50%;
      padding: 20px;
      box-sizing: border-box;
    }

    .centered-text{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-left: auto;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    .footer-line2{
      border-top: 2px solid black;
      width: 95%;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }

    .footer-line{
      display: none;
    }

    .social-icons {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .bott {
      justify-content: space-between;
    }
    .bott1 {
      margin-left: auto;
      width: auto;
      height: 50px;
    }
    .bott2 {
      margin-right: auto;
    }
    .mid {
      margin: 0 auto;
    }
    .bott img {
      margin-top: 20px;
    }
  }