/* Default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: auto;
  min-height: 100vh;
  text-align: left;
}

h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

/* Navigation styles */
.glesson{
  width: 150px;
}
nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: flex;
  height: 70px;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  vertical-align: middle;
  margin-right: 8px;
}

nav a:hover,
.dropdown-btn:hover {
  background-color: #ddd;
  color: black;
}

.login-btn,
.register-btn {
  border-radius: 60px;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

.login-btn:hover {
  background-color: blue;
  color: white;
  border: none;
}

.register-btn {
  background-color: blue;
  color: white;
  border: none;
  margin-right: 10px;
}

.register-btn:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

/* Main content styles */
.textMid {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; 
  width: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  font-size: 40px;
  line-height: 1.6;
  color: #0078d4;
  border-bottom: 3px solid transparent;
}

.textMid span.hapier {
  position: relative;
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 5px; 
}

.textMid span.hapier img.curly-img {
  height: 18px; 
  width: 284px; 
}

.leftA {
  margin-right: auto;
}

.rightA {
  margin-left: auto;
}

.peopleH, .klase {
  display: inline-block;
}

/* Search bar styles */
.search-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  margin-right: 10%;
  margin-bottom: 50px;
  top: calc(50% + 150px);
  right: 10%; 
  position: absolute; 
}

.search-bar {
  display: flex;
}

.role-selection-btn,
.where,
.search-btn {
  padding: 12px 30px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.role-selection-btn {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.where {
  background-color: #f0f0f0;
  border: 2px solid #ddd;
}

.search-btn {
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
}

/* Sponsors styles */
.square {
  width: 100%;
  height: 30vh;
  margin-top: 40px;
  overflow-x: auto;
  background-color: #add8e6;
}

.sponsor-container {
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.sponsor-container::-webkit-scrollbar {
  width: 0;
}

.sponsor {
  width: auto;
  height: 100px;
  margin-right: 100px;
}

.sponsor:hover {
  opacity: 0.8;
}

/* Divisions styles */
.container {
  max-width: 100%;
  margin: 50px auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.our-divisions {
  background-color: transparent; 
  border-radius: 20px;
  text-align: left;
  margin-left: 40px;
  padding: 40px; 
  max-width: 400px; 
}

.our-divisions h1 {
  font-size: 24px; 
  color: #333;
  margin-bottom: 10px;
}

.our-divisions p {
  font-size: 18px; 
  color: #555;
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.seeAll {
  Width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: #548BAB;
  color: white;
  border-color: transparent;
}

.job {
  width: 100%;
  height: 300px;
  overflow: hidden; 
  white-space: nowrap; 
  display: flex;
  position: inherit;
  margin-top: 20px;
}

.job-item:hover .logo {
  opacity: 0.8;
}

#jobContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px; 
}

.job-item {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
  margin: 10px;
  width: 100%;
}

.description:hover {
  background-color: lightblue; 
}

.description {
  position: absolute;
  left: 0;
  width: auto; 
  max-width: 300px; 
  max-height: 200px; 
  background-color: transparent; 
  color: black;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; 
}

.heading {
  margin: 0;
}

.descriptionBody {
  padding: 10px;
  font-size: 11px;
  font-weight: 400px;
  size: 16px;
  color: #8F8F8F;
  line-height: 1.5;
}

/* Icon buttons styles */
.icon-buttons {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
}

.icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* Container1 and image-container styles */
.container1 {
  display: flex;
  margin-top: -100px;
  align-items: center; 
}

.image-container {
  position: relative; 
  margin-right: 20px;
}

/* Image styles */
.left-image {
  width: auto;
  max-width: 80%;
}

/* Text-container styles */
.text-container {
  flex: 1; 
  width: 50px; 
  padding: 20px; 
}

.meetingHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; 
  line-height: 48px;
  font-size: 36px; 
}

.meetingBody {
  font-family: "Inter", sans-serif;
  color: #676767;
}

.award {
  width: 300px;
  height: 75.26px;
}

/* Buttons styles */
.container {
  text-align: center;
}

.award {
  display: block;
  margin-left: 0px;
}

.buttons {
  margin-top: 20px; 
}

.buttonss {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  width: 251px;
  border-radius: 50px;
  height: 60px;
  background-color: #548BAB;
  color: #fff; 
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.buttonss:hover {
  background-color: #0056b3; 
}

.buttonsss {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #548BAB;
  width: 251px;
  border-radius: 50px;
  height: 60px;
  background-color: #fff;
  color: #0056b3; 
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.buttonsss:hover {
  background-color: #0056b3; 
  color: #fff;
}

/* Awards styles */
.awardsR {
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Square2 */
.peoplesay{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.square2 {
  width: 100%;
  height: 590px;
  background-color: rgba(0, 0, 255, 0.3); /* Blue color with increased opacity */
  display: flex; /* Ensure the inner content is displayed */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  position: relative; /* Ensure z-index works */
  z-index: 0; /* Place the square behind the content */
  
}

.peopleP {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #F9F9F9;
  line-height: 37.5px;
  z-index: 1;
  width: 735px; /* Set width to 735 pixels */
  height: 304px; /* Set height to 304 pixels */
  left: 130px;
  border-right: 2px solid #fff;
}

.peopleH {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px;
  top: 50%;
  transform: translateY(-50%);
}

.klase {
  font-family: "Montserrat";
  font-size: 23px; 
  font-weight: 500; 
  line-height: 28px; 
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px; 
  top: calc(50% + 115px); 
  transform: translateY(-50%);
}


/* Invisible Container */
.containerNapud {
  margin-left: 50px; 
  white-space: nowrap;
  overflow-x: hidden;
}


.custom-icon-buttons {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end; 
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
  z-index: 1;
}

.custom-icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.jobsLatest{
  margin-left: 50px;
}

.containerNapud {
  display: flex;
  
}

.styledElement {
  width: 300px;
  height: 367px;
  padding: 20px 30px;
  border-radius: 8px;
  gap: 4px;
  background-color: white; 
  border: 2px solid #E5E5E5;
  margin-right: 20px;
  box-shadow: 0px 10px 40px 0px #0000001A; 
}

.posted{
  font-family: "Inter";
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #8C8C8C;
}

.postedTitle{
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.posted1{
font-family: "Montserrat";
font-size: 14px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0px;
text-align: left;
color: #548BAB;
}

ul {
  text-align: left !important; 
}

.bullet {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: #000000;
}

/* Footer styles */
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  text-align: left;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: blue;
}

.footer-line {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}


/* Responsive styles */
@media only screen and (max-width: 768px) {
  .textMid {
    width: 70%;
    right: 5%;
  }

  .search-bar-container {
    top: calc(50% + 150px);
    right: 5%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-container {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .textMid {
    font-size: 32px;
  }

  .meetingHeading {
    font-size: 28px;
    line-height: 36px;
  }

  .meetingBody {
    font-size: 14px;
  }

  .icon-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .icon-button {
    margin: 5px 0;
  }

  .buttonss, .buttonsss {
    width: 200px;
    font-size: 14px;
  }
}

