/* Default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: auto;
  min-height: 100vh;
  text-align: left;
}

h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

/* Navigation styles */
.glesson{
  width: 150px;
}
nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: flex;
  height: 70px;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  vertical-align: middle;
  margin-right: 8px;
}

nav a:hover,
.dropdown-btn:hover {
  background-color: #ddd;
  color: black;
}

.login-btn,
.register-btn {
  border-radius: 60px;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

.login-btn:hover {
  background-color: blue;
  color: white;
  border: none;
}

.register-btn {
  background-color: blue;
  color: white;
  border: none;
  margin-right: 10px;
}

.register-btn:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

/* Main content styles */
.textMid {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; 
  width: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  font-size: 40px;
  line-height: 1.6;
  color: #0078d4;
  border-bottom: 3px solid transparent;
}

.textMid span.hapier {
  position: relative;
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 5px; 
}

.textMid span.hapier img.curly-img {
  height: 18px; 
  width: 284px; 
}

.leftA {
  margin-right: auto;
}

.rightA {
  margin-left: auto;
}

.peopleH, .klase {
  display: inline-block;
}

/* Search bar styles */
.search-bar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  margin-right: 0;
  margin-bottom: 50px;
  top: calc(50% + 150px);
  right: 0px; 
  position: absolute; 
}



.search-bar {
  display: flex;
}

.role-selection-btn {
  font-family: "Montserrat" sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 16px;
  color: #333;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 100px 0 0 100px; 
  background-color: #f0f0f0;
  Width: 232px;
  Height: 68px;
}

.role-selection-btn .subtext {
  font-family: "Avenir Next" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #1C0500;
  width: 90px;
  height: 17px;
  display: block;
  margin-top: 3px;
}



.where {
  font-family: "Montserrat" sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px 16px;
  color: #333;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  width: 259px;
  height: 68px;
  
}

.where .subtext {
  font-size: 12px;
  color: #1C0500;
  margin-top: 3px;
}

.where .arrow-down {
  margin-left: 5px;
}


.search-btn {
  width: 212.77px;
  height: 68px;
  padding: 16px 24px;
  border-radius: 0px 100px 100px 0px;
  border: 1px solid;
  justify-content: space-between;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}


/* Sponsors styles */
.square {
  width: 100%;
  height: 30vh;
  margin-top: 40px;
  overflow-x: hidden;
  background-color: #add8e6;
}

.sponsor-container {
  margin-top: 10px;
  display: flex;
  animation: scrollSponsors 30s linear infinite;
  overflow: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

.sponsor-container::-webkit-scrollbar {
  width: 0;
  overflow: hidden;
}
@keyframes scrollSponsors {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sponsor {
  width: auto;
  margin-right: 20px;
  height: 100px;
  margin-right: 100px;
}

.sponsor:hover {
  opacity: 0.8;
}

/* Divisions styles */
.container {
  max-width: 100%;
  margin: 50px auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.our-divisions {
  background-color: transparent; 
  border-radius: 20px;
  text-align: left;
  margin-left: 40px;
  padding: 40px; 
  max-width: 400px; 
}

.our-divisions h1 {
  font-size: 24px; 
  color: #333;
  margin-bottom: 10px;
}

.our-divisions p {
  font-size: 18px; 
  color: #555;
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.seeAll {
  Width: 200px;
  height: 60px;
  border-radius: 50px;
  background-color: #548BAB;
  color: white;
  border-color: transparent;
}

.job {
  width: 100%;
  height: 300px;
  overflow: hidden; 
  white-space: nowrap; 
  display: flex;
  position: inherit;
  margin-top: 20px;
}

.job-item:hover .logo {
  opacity: 0.8;
}

#jobContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 500px; 
}

.job-item {
  position: relative;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
  margin: 10px;
  width: 100%;
}

.description:hover {
  background-color: lightblue; 
}

.description {
  position: absolute;
  left: 0;
  width: auto; 
  max-width: 300px; 
  max-height: 200px; 
  background-color: transparent; 
  color: black;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; 
}

.heading {
  margin: 0;
}

.descriptionBody {
  padding: 10px;
  font-size: 11px;
  font-weight: 400px;
  size: 16px;
  color: #8F8F8F;
  line-height: 1.5;
}

/* Icon buttons styles */
.icon-buttons {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
}

.icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* Container1 and image-container styles */
.container1 {
  display: flex;
  margin-top: -100px;
  align-items: center; 
}

.image-container {
  position: relative; 
  margin-right: 20px;
}

/* Image styles */
.left-image {
  width: 600px;
  height: 622.35px;
}


/* Text-container styles */
.text-container {
  flex: 1; 
  width: 50px; 
  padding: 20px; 
}

.meetingHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; 
  line-height: 48px;
  font-size: 36px; 
}

.meetingBody {
  font-family: "Inter", sans-serif;
  color: #676767;
}

.award {
  width: 300px;
  height: 75.26px;
}

/* Buttons styles */
.container {
  text-align: center;
}

.award {
  display: block;
  margin-left: 0px;
}

.buttons {
  margin-top: 20px; 
}

.buttonss {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  width: 251px;
  border-radius: 50px;
  height: 60px;
  background-color: #548BAB;
  color: #fff; 
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.buttonss:hover {
  background-color: #0056b3; 
}

.buttonsss {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #548BAB;
  width: 251px;
  border-radius: 50px;
  height: 60px;
  background-color: #fff;
  color: #0056b3; 
  margin: 0 10px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.buttonsss:hover {
  background-color: #0056b3; 
  color: #fff;
}

/* Awards styles */
.awardsR {
  font-family: "Open Sans" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Square2 */
.peoplesay{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.square2 {
  width: 100%;
  height: 590px;
  background-color: rgba(0, 0, 255, 0.3); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative; 
  z-index: 0; 
}

.peopleP {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #F9F9F9;
  line-height: 37.5px;
  z-index: 1;
  width: 735px; 
  height: 304px; 
  left: 130px;
  border-right: 2px solid #fff;
}

.peopleH {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px;
  top: 50%;
  transform: translateY(-50%);
}

.klase {
  font-family: "Montserrat";
  font-size: 23px; 
  font-weight: 500; 
  line-height: 28px; 
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px; 
  top: calc(50% + 115px); 
  transform: translateY(-50%);
}


/* Invisible Container */
.containerNapud {
  display: flex;
  margin-left: 50px; 
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.custom-icon-buttons {
  display: flex;
}

.custom-icon-button {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  padding: 5px;
}


.invisible-container{
  margin-top: 50px;
}

.custom-icon-buttons {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end; 
  margin-left: auto;
  margin-right: 10px;
  margin-top: 20px;
  z-index: 1;
}

.custom-icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.jobsLatest{
  margin-left: 50px;
}


.styledElement {
  width: 300px;
  height: 367px;
  padding: 20px 30px;
  border-radius: 8px;
  gap: 4px;
  background-color: white; 
  border: 2px solid #E5E5E5;
  margin-right: 20px;
  box-shadow: 0px 10px 40px 0px #0000001A; 
}

.posted{
  font-family: "Inter";
  font-size: 11px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #8C8C8C;
}

.postedTitle{
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}

.posted1{
font-family: "Montserrat";
font-size: 14px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0px;
text-align: left;
color: #548BAB;
}

ul {
  text-align: left !important; 
}

.bullet {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  color: #000000;
}


/* talent talks */

.talent {
  width: 543px;
  height: 70px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7 ;
}

.bato-container {
  display: flex;
  margin-left: 10px;
}

.bato {
  margin-top: 50px;
  margin-left: 50px;
  width: 383.23px;
  height: 237px;
  border-radius: 7.35px;
  opacity: 0.5;
}

.insights {
  height: 23.35px;
  padding: 3.68px 12.87px;
  border-radius: 19.3px;
  gap: 9.19px;
  background-color: #548BAB;
  border: none; 
  color: white; 
  font-size: 14px; 
  cursor: pointer; 
  margin-left: 50px;
  margin-top: 5px;
  opacity: 0.5;
}

.buttonContainers {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.button-primary {
  background-color: #548BAB;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
  opacity: calc(0.5);
}

button.button-primary:hover {
  background-color: blue;
}



.posted {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #548BAB; 
  margin-left: 39px;
  padding: 5px 10px; 
  opacity: 0.5;
  border-radius: 5px; 
}

.what {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 47px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.whatThe {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
  color: #548BAB;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.5;
}

.Q {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  margin-left: 50px;
  opacity: 0.5;
}

.read {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding: 8px 16px; 
  color: #548BAB; 
  background-color: transparent;
  border: none; 
  margin-left: 35px;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer; 
}



/* Featured */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.featured {
  width: 278px;
  height: 62px;
}

.sulatContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.sulat {
  width: 706px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.sponsor2 {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 1128.11px; 
  height: 61px; 
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; 
}

.sponsor2 img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.named {
  border-bottom: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* OrangeSMile */
.square3 {
  width: 100%;
  height: 464px;
  background-color: #C9DFEE;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  position: relative;
  z-index: 0;
  margin-top: 200px;
}

.shesh{
  margin-left: 70px;
}
.orangeSmile {
  margin-top: 200px;
}

.Looking{
  width: 586px;
  height: 48px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.browse{
  width: 212.77px;
  height: 55.37px;
  border: none;
  top: 153px;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #FFFFFF;
  background-color: #548BAB;
}

.vacancy{
  width: 212.77px;
  height: 55.37px;
  top: 153px;
  border: none;
  padding: 17.51px, 78px, 17.51px, 78.12px;
  border-radius: 36px;
  gap: 13.47px;
  color: #548BAB;
  background-color: #FFFFFF;
}

/* Footer styles */
.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px; 
}

.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  align-items: flex-start;
  margin-top: 20px;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 1px solid #F5F5F5;
}


.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.centered-text a {
  color: black; 
  text-decoration: none; 
  margin-left: 50px;
}

.centered-text a:hover {
  color: gray; 
}

.bott {
  display: flex;
  justify-content: center; 
}

.bott img {
  margin-top: 20px;
}