body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: auto;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

/* Navigation styles */
.glesson {
  width: 150px; 
  height: auto; 
  top: 15px;
  left: 0.45px;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  position: relative;
 
}

.dropdown ul li a {
  display: block;
}

ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  top: calc(100% + 2px);
  padding: 10px;
  left: 0;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li {
  display: block;
}

.dropdown-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 53, 61, 1);
}

.dropdown{
  background-color: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.dropdown ul li a {
  text-align: left;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  vertical-align: middle;
  margin-right: 8px;
}

nav a:hover,
.dropdown-btn:hover {
  color: black;
}

.login-btn {
  border-radius: 60px;
  background-color: white;
  color: #548bab;
  border: 1px solid #548bab;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 47px;
}

.register-btn {
  border-radius: 60px;
  background-color: #548bab;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  width: 160px;
  height: 47px;
}

.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 10%;
  display: flex;
  align-items: flex-start;
 
  justify-content: space-between;
}


.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px;
}


.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30%;
  align-items: flex-start;
  margin-top: 20px;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}


.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}


.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 1px solid #E5E7EB;
  margin-top: 3%;
}


.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 9%;
}


.social-icons img {
  width: 30px;
  height: 30px;
  margin:  5px;
  cursor: pointer;
}


.centered-text a {
  color: black;
  text-decoration: none;
  margin-left: 50px;
}


.centered-text a:hover {
  color: gray;
}


.bott {
  display: flex;
  justify-content: center;
}


.bott img {
  margin-top: 20px;
}

/* second */

.op {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  height: 536px;
  margin: 101px auto 0;
  padding: 20px;
  background: #C9DFEE;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}


.payaman{
  white-space: wrap;
  width: 700px;
  height: 135px;
}

.angkol {
  width: 403px;
  height: 403px;
  border-radius: 5px;
  max-height: 90%;
  margin-left: 40px;
  margin-top: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.call {
  max-width: 200px;
  margin-left: 50px;
}

.op p {
  margin-bottom: 0;
  margin-left: 50px;
  margin-top: 20px;
}

.op h2 {
  width: 844px;
  height: 30px;
  margin-left: 50px;
  font-size: 48px;
  color: #548BAB;

}



/* 3rd */
.placement-heading {
  font-family:  sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 50px;
}

/*4th*/
.buttons-container1{
  display: flex;
  margin-left:  -50px;
}
.category-button {
  background-color: #548BAB;
  color: white;
  padding: 20px 30px;
  margin: 10px;
  left: -50px;
  white-space: no/rap;
  margin-top: 50px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.category-button:hover {
  background-color: white;
  color: #548BAB;
  border: 1px solid #548BAB;
}

.accounting {
  background-color: #548BAB;
}

.finance {
  background-color: #548BAB;
}

.marketing {
  background-color: #548BAB;
}

.digital {
  background-color: #548BAB;
}

.hr {
  background-color: #548BAB;
}

.it {
  background-color: #548BAB;
}

.manufacturing {
  background-color: #548BAB;
}

.accounting-second {
  background-color: #548BAB;
}

.finance-second {
  background-color: #548BAB;
}
/* second button */
.buttons-container2 {
  white-space: nowrap;
  margin-left: 8%; /* or any specific value */
}



.category-button {
  background-color: #548BAB;
  color: white;
  padding: 20px 30px;
  margin: 10px;
  left: 10px;
  margin-top: 50px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.category-button:hover {
  background-color: white;
  color: #548BAB;
  border: 1px solid #548BAB;
}

.executive {
  background-color: #548BAB;
}

.built-environment {
  background-color: #548BAB;
}

.business-support {
  background-color: #548BAB;
}

.procurement {
  background-color: #548BAB;
}

.supply-chain {
  background-color: #548BAB;
}

.engineering {
  background-color: #548BAB;
}

.manufacturing {
  background-color: #548BAB;
}

.executive-second {
  background-color: #548BAB;
}

.finance-second {
  background-color: #548BAB;
}

.heading{
  font-family:sans-serif;
  font-size: 24px ;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 50px;
}

/* Square2 */
.square2 {
  width: 100%;
  height: 590px;
  background-color: #548BAB;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.leftA {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.rightA {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.peopleP {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #f9f9f9;
  line-height: 37.5px;
  z-index: 1;
  width: 735px;
  height: 304px;
  left: 130px;
  border-right: 2px solid #fff;
}
.peopleH {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  color: #fff;
  width: 333px;
  height: 106px;
  margin: 0;
  padding: 0;
  left: 885px;
  top: 50%;
  transform: translateY(-50%);
}
.klase {
  font-family: "Montserrat";
  color: white;
  margin-left: 50%;
  margin-top: 200px;
  font-size: 20px;
}

/* latest job */
.containerNapud {
  display: flex;
  margin-left: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px;
  box-sizing: border-box;
  
}
.styledElement {
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px black; 
  border-radius: 5px;
  z-index: -1;
  box-shadow: 0 0 5px #ccc;
}

.styledElement ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.styledElement li {
  margin-bottom: 5px; 
  padding-left: 20px; 
  position: relative;
}

.styledElement li:before {
  content: '\2022'; 
  color: black; 
  font-size: 18px; 
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px; 
}

.styledElement:nth-child(1) .posted1 {
  color: #548BAB;
}

.styledElement:nth-child(2) .posted1 {
  color: #548BAB;
}

.styledElement:nth-child(3) .posted1 {
  color: #548BAB;
}
.styledElement:nth-child(4) .posted1 {
  color: #548BAB;
}

.styledElement:nth-child(5) .posted1 {
  color: #548BAB;
}
.styledElement:nth-child(6) .posted1 {
  color: #548BAB;
}


.custom-icon-buttons {
  display: flex;
}
.custom-icon-button {
  background-color: #ddd;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.invisible-container{
  margin-top: 50px;
}
.custom-icon-buttons {
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end; 
  margin-left: auto;
  margin-right: 300px;
  margin-top: 20px;
  z-index: 1;
}
.custom-icon-button {
  background-color: #C9DFEE;
  color: black;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.jobsLatest{
  margin-left: 50px;
}
.learn{
  margin-top: 30px;
}
