body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  overflow: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

/* Navigation styles */
.glesson {
  width: 150px; 
  height: auto; 
  top: 15px;
  left: 0.45px;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
}

nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a img {
  vertical-align: middle;
  margin-right: 8px;
}

.button-container {
  display: flex;
  align-items: center;
}

.login-btn,
.register-btn {
  width: 160px;
  height: 47px;
  left: 464px;
  border-radius: 50px;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-btn {
  position: relative;
  padding-right: 20px; 
}

.dropdown-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(45deg);
  border: solid #333;
  border-width: 2px 2px 0 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.dropdown-btn:hover::after {
  transform: translateY(-50%) rotate(135deg);
}


.login-btn {
  background-color: white;
  color:   #548BAB;
  border: 1px solid   #548BAB;
}

.login-btn:hover {
  background-color:   #548BAB;
  color: white;
  border: none;
}

.register-btn {
  background-color:#548BAB;
  color: white;
  border: none;
  margin-right: 10px;
}

.register-btn:hover {
  background-color: white;
  color:  #548BAB;
  border: 1px solid #548BAB;
}

/* ------------------------------- */

.caption {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  margin-left: 3%;
  font-weight: bold ;
}

.background {
  display: flex;
  width: 100%;
  height: 364px;
  opacity: 0.1;
}

.update {
  background: #548BABD9;
}

.pic2 {
  display: flex;
  align-items: center;
  padding-top: 25px;
  /* border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  
}

.myproject {
  padding-top: opx;
  width: 736px; /* Half the width of the container */
  height: 500px;
  margin: 0;
}

.content {
  flex-grow: 1;
  width: 512px;
  height: 240px;
  margin-right: 100px;
  margin-left: 100px;
  
}

.pic2 .content h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
  line-height: 36px;
  
}

.content p {
  font-size: 14px;
  color: #666;
}

/* ------------------------- */


/* Sponsors */
.proud{
text-align: center;
}


.square {
width: 100%;
height: 30vh;
margin-top: 40px;
overflow-x: hidden;
background-color: #add8e6;
}


.sponsor-container {
margin-top: 10px;
display: flex;
animation: scrollSponsors 30s linear infinite;
/* overflow: hidden; */
white-space: nowrap;
scrollbar-width: thin;
-ms-overflow-style: none;
}


.sponsor-container::-webkit-scrollbar {
width: 0;
overflow: hidden;
}
@keyframes scrollSponsors {
0% {
  transform: translateX(100%);
}
100% {
  transform: translateX(-100%);
}
}
.sponsor {
width: auto;
margin-top: 20px;
margin-right: 20px;
height: 50px;
margin-right: 100px;
}


.sponsor:hover {
opacity: 0.8;
}
/* ---------------------- */

/* footer */
.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px; 
}

.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 3px solid #F5F5F5;
}


.social-icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
  margin-top: 10px;
  justify-content: flex-end; 
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}

.centered-text{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 4%;
}

.centered-text a {
  color: black; 
  text-decoration: none; 
  margin: 1%;
}

.centered-text a:hover {
  color: gray; 
}

.bott {
  display: flex;
  justify-content: space-between;
}

.bott1 {
  margin-right: auto;
  width: auto;
  height: 50px;
  margin-left: 50px;
}

.bott2 {
  margin-left: auto;
  margin-right: 50px ;
}

.mid {
  margin: 0 auto;
}

.bott img {
  margin-top: 20px;
}



/* --------------------------------- */

/* our services */

.services_header {
padding-top: 30px;
text-align: center;
}

.services_tag {
width: 1216px;
height: 48px;
/* font-family: "Montserrat"; */
font-size: 36px;
font-weight: 900; /* Bold */
line-height: 48px;
letter-spacing: 0px;
text-align: center;
margin: 0 auto; /* Center horizontally */
}


.services_caption{
font-size: 16px; /* Font size */
color: #8F8F8F; /* Text color */
text-align: center; /* Text alignment */
margin: 0; /* Remove default margin */
font-weight: 400;
font-size: 16px;
line-height: 24px;
}


.container1 {
padding-top: 50px;
display: flex;
justify-content: space-between;
padding: 20px;
gap: 35px;
margin-left: 60px;
margin-right: 60px;
background-color: #FBFBFB;
}

.company1 p, 
.company2 p,
.company3 p,
.company4 p,
.company5 p{
font-weight: 100;
color: #5C5C5C;
}
.company1,
.company2,
.company3 {
flex: 1;
padding: 20px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.5);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height: 240px;
width: calc(30% - 40px);
}



.last-container {
padding-top: 50px;
display: flex;
justify-content: space-between;
padding: 20px;
gap: 35px;
margin-left: 300px;
margin-right: 300px;

}

.company4,
.company5 {
flex: 1;
padding: 20px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.5);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
/* Set height equal to the width to make the container square */
height: 240px;
width: calc(30% - 4px);
}

/* our divisions */

.divisions{
margin-top: 150px;
}
.container {
max-width: 100%;
margin: 50px auto;
margin-top: 0;
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.icon-buttons {
display: flex;
align-items: right;
justify-content: right;
margin-left: auto;
margin-right: 40px;
margin-top: 20px;
}


.icon-button {
color: black;
padding: 0;
background-color: transparent;
margin: 2px;
border: none;
border-radius: 28px;
cursor: pointer;
}

.our-divisions {
background-color: transparent;
border-radius: 20px;
text-align: left;
margin-left: 40px;
padding: 40px;
max-width: 400px;
}


.our-divisions h1 {
font-size: 36px;
font-weight: 700;
color: #333;
margin-bottom: 10px;
line-height: 48px;
}


.our-divisions p {
font-size: 18px;
color: #8F8F8F;
line-height: 1.6;
text-align: justify;
margin-top: 10px;
margin-bottom: 20px;
gap: 26px;
}


.seeAll {
Width: 200px;
height: 60px;
border-radius: 50px;
background-color: #548BAB;
color: white;
border-color: transparent;
font-weight: 700;
font-size: 18px;
line-height: 23.4px;
}

.textBot {
font-weight: 400;
font-size: 16px;
line-height: 24px;
}


.job {
width: 100%;
height: 300px;
overflow: hidden;
white-space: nowrap;
display: flex;
position: inherit;
margin-top: 20px;
}


.job-item:hover .logo {
opacity: 0.8;
}


#jobContainer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 500px;
}


.job-item {
position: relative;
width: calc(25% - 20px);
margin-bottom: 20px;
border-radius: 16px;
}


.logo {
max-width: 100%;
margin: 0;  
width: 227px;
height: 208px;
border-radius: 16px;
}


.description:hover {
background-color: lightblue;
}


.description {
position: absolute;
left: 0;
width: 100%;
max-width: 300px;
background-color: transparent;
/* color: black; */
padding: 10px;
box-sizing: border-box;
overflow: auto;
/* text-overflow: ellipsis; */
white-space: normal;
}


.heading {
margin: 0;
font-weight: 700;
/* font-family: 'Montserrat'; */
font-size: 24px;
line-height: 36px;

}


.descriptionBody {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #8F8F8F;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}

/* ------ */

/* testimony */

.testimony {
width: 100%;
height: 590px;
background-color:#548BABD9;
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: 0;
}

.comment {
position: absolute;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 25px;
color: #F9F9F9;
line-height: 37.5px;
z-index: 1;
width: 721px;
height: 304px;
left: 130px;
}

.vectorLine {
margin-left: 18%;
height: 60%;
}

.peopleH{
font-family: "Montserrat";
font-size: 44px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0em;
text-align: left;
position: absolute;
color: #fff;
width: 333px;
height: 169px;
margin: 0;
padding: 0;
left: 990px;
top: 50%;
transform: translateY(-50%);
}

.klase {
font-family: "Montserrat";
font-size: 23px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
position: absolute;
color: #fff;
width: 333px;
height: 158px;
margin: 0;
padding: 0;
left: 990px;
top: calc(50% + 115px);
transform: translateY(-50%);
}

.leftArrow{
margin-right: auto;

}
.rightArrow {
margin-left: auto;
}
/* ------------------ */

/* our values */

.values_tag {
width: 100%;
font-family: "Montserrat";
font-size: 36px;
font-weight: 900; /* Bold */
line-height: 48px;
letter-spacing: 0px;
text-align: center;
}

.our_valuesContainer {
padding-top: 20px;
display: flex;
justify-content: space-between;
padding: 20px;
gap: 48px;
margin-left: 20px;
margin-right: 20px;
background-color: #FBFBFB;
}

.values1 p, 
.values2 p,
.values3 p,
.values4 p,
.values5 p,
.values6 p{
font-weight: 100;
color: #5C5C5C;
}

.values1,
.values2,
.values3,
.values4,
.values5,
.values6 {
flex: 1;
padding: 20px;
background-color: rgba(255, 255, 255, 0.5);
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height: auto;
width: calc(33% - 16px);
}

.container1 {
padding-top: 20px;
display: flex;
justify-content: space-between;
padding: 20px;
gap: 48px;
margin-left: 20px;
margin-right: 20px;
}

.values {
padding: 96px, 112px, 96px, 112px;
margin-top: 15px;

}

/* ------------------------ */


/* our sister company */

.class1{
color:#000000;
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
width: 360px;
height: 72px;

}


.header2{
font-size: 24px;
width: 360px;
height: 72px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
color: black; /* Default color */
}



.card:hover p {
color: #E5E6E2 ; /* Color when container is hovered */
}



.card:hover h2 {
color: white; /* Color when container is hovered */
}


.Sister-header {
text-align: center;

}


.Sister-Company h1 {
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
margin-top: 1in;
font-weight: 700;
}


.sisters{
font-weight: bold;


}
/* .next-container {
display: flex;
justify-content: center;
} */


.next-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5%;
  padding-top: 20px;
  grid-template-columns: repeat(3, 408px);
  justify-content: center;
  align-items: center; /* Added to center the container vertically */
  width: 1440px;
  height: 647px;
  padding: 24px;
}



.card:hover .learn-more {
color: white;


}
.card img {
border-radius: 16px 16px 0 0;
}


.card-container {
display: grid;
grid-template-columns: repeat(3, 408px);
gap: 28px;
justify-content: center;
width: 1280px;
height: 1661px;
margin: 100px auto 0;
padding: 24px;
}


.paragraph, .paragraph3 {
 
  font-family: Inter, sans-serif;
  width: 300px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #595959;
 
}

.card-content h3 {
font-weight: bold;
}

.header3 {
margin-top: 9%;
font-size: 24px;
width: 360px;
height: 72px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
color: black; /* Default color */
}


.btn-learn1 {
background: #548BAB;
width: 200px;
height: 60px;
border-radius: 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
line-height: 60px;
color: white;
cursor: pointer;
margin-top: 14.7%;
}


.btn-learn2 {
background: #548BAB;
width: 200px;
height: 60px;
border-radius: 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
line-height: 60px;
color: white;
cursor: pointer;
margin-top: 14.7%;
}


.btn-learn3 {
background: #548BAB;
width: 200px;
height: 60px;
border-radius: 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
line-height: 60px;
color: white;
cursor: pointer;
margin-top: 14.7%;
}


.learn-more:hover {
color: white;
background-color: #548BAB;


}

/* ---------------------- */

/* we know people */

.square3 {
width: 100%;
height: 464px;
background-color: #C9DFEE;
display: flex;
justify-content: flex-start;
align-items: center;
position: relative;
z-index: 0;
/* margin-top: 200px; */
}


.shesh{
margin-left: 70px;
}
.orangeSmile {
margin-top: 200px;
}


.Looking{
width: 586px;
height: 48px;
font-family: "Inter";
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}


.browse{
width: 212.77px;
height: 55.37px;
border: none;
top: 153px;
padding: 17.51px, 78px, 17.51px, 78.12px;
border-radius: 36px;
gap: 13.47px;
color: #FFFFFF;
background-color: #548BAB;
margin: 10px;
margin-top: 30px;
font-weight: 700;
font-size: 18px;
}


.vacancy{
width: 212.77px;
height: 55.37px;
top: 153px;
border: none;
padding: 17.51px, 78px, 17.51px, 78.12px;
border-radius: 36px;
gap: 13.47px;
color: #548BAB;
background-color: #FFFFFF;
font-weight: 700;
font-size: 18px;
}

/* ------------------- */








